<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.akash.extmount</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/akash/Documents/server/check_ext_mount.sh</string>
        <string>--drives</string>
        <string>etmnt,share,bkp</string>
        <string>--docker-compose</string>
        <string>/Users/akash/Documents/server/docker/docker-compose.yml</string>
        <string>--monitor</string>
        <string>300</string>
        <string>--unattended</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
